<app-navbar></app-navbar>
<div class="container mt-5 p-4">
  <div class="row">
    <!-- Container 1: Photo -->
    <div class="col-md-6 mt-4 mb-4">
      <mat-card style="max-width: 540px;">
        <img mat-card-image
          src="../../assets/98B72DC4-0587-4BD8-9FA8-6BFA89032DE3.jpg"
          alt="Profile Image">
        <mat-card-content>
          <h5 class="card-title">Kunal Pritlal Baghele</h5>
          <hr />
          <p class="card-text">DOB: 18-06-1999</p>
          <p class="card-text">Mobile: +91 9130246949</p>
          <p class="card-text">Email Id:
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvnrLFWnTtvmVMXJQbsCPGwnhRxRXbWBSmkcTbBVhbZcKfdwqwsHBFWpDGqpQBZqRpVHgB"
              target="_blank">kunalbaghele40&#64;gmail.com</a>
          </p>
          <p class="card-text">LinkedIn:
            <a href="https://www.linkedin.com/in/kunal-baghele-93b2b4276"
              target="_blank">Kunal Baghele</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Container 2: Technical Skills -->
    <div class="col-md-6 mb-4">
      <h3 class="mt-4">Skills and Certification</h3>
      <button mat-raised-button color="primary" class="mb-3"(click)="showTechnology()">Programming Languages</button>
      <!-- child component -->
      <app-certification (certificationData)="receiveCertificationData($event)"></app-certification>

      <!-- Use *ngIf to conditionally show/hide the certifications -->
      <div *ngIf="cert">
        <mat-card *ngFor="let cert of certifications" class="mb-3">
          <mat-card-content>
            <h5 class="card-title">{{ cert }}</h5>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Use *ngIf to conditionally show/hide the programming languages -->
      <mat-list *ngIf="technology">
        <mat-list-item *ngFor="let language of technologies">{{ language
          }}</mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="row">
    <!-- Container 3: Educational Qualifications -->
    <div class="col-md-6 mb-4">
      <h3 class="mt-4">Educational Qualifications</h3>

      <mat-card *ngFor="let qualification of educationalQualifications"
        class="mb-3 text-bg-success">
        <mat-card-header>
          <mat-card-title class="text-center">{{ qualification.degree }} ({{
            qualification.completionDate }})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let detail of qualification.details">
              {{ detail.name }} {{ detail.grade ? '(' + detail.grade + ')' : ''
              }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Container 4: Projects -->
    <div class="col-md-6 mb-4 ">
      <h3 class="mt-4">Projects Undertaken</h3>
      <mat-card class="mb-3 border-success">
        <mat-card-header class="text-bg-success">
          <mat-card-title>Farming Equipment Rental</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h5 class="card-title">Technology Used:</h5>
          <p class="card-text">Java, Spring Boot REST API, JPA, React.JS,
            Bootstrap, MySQL</p>
          <hr />
          <h5 class="card-title">Description:</h5>
          <p class="card-text">
            Farming Equipment Rental simplifies the equipment booking process
            for farmers, enabling them to place orders
            efficiently. Provide a user-friendly platform for customers, mainly
            farmers. Implemented admin dashboard for
            managing orders, tracking equipment availability, and communicating
            with users and enabling them to place
            orders efficiently. Pioneered the development and implementation of
            the Farming Equipment Rental website
            using a 3-tier architecture, designed and managed the database in
            MySQL, front-end in React.js, and back-end
            is developed Spring boot.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="abc()">Click</button>
</div>
