<app-navbar></app-navbar>
<div class="container mt-5 p-2">
  <div class="row">
    <!-- Container 1: Photo -->
    <div class="col-md-6 mt-4">
      <mat-card style="max-width: 540px; height:410px">
        <img mat-card-image
          src="../../assets/98B72DC4-0587-4BD8-9FA8-6BFA89032DE3.jpg"
          alt="Profile Image">
        <mat-card-content>
          <h2 class="card-title">Kunal Pritlal Baghele</h2>
          <hr />
          <p class="card-text">DOB: 18-06-1999</p>
          <p class="card-text">Mobile: +91 9130246949</p>
          <p class="card-text">Email Id:
            <a
              href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvnrLFWnTtvmVMXJQbsCPGwnhRxRXbWBSmkcTbBVhbZcKfdwqwsHBFWpDGqpQBZqRpVHgB"
              target="_blank">kunalbaghele40&#64;gmail.com</a>
          </p>
          <p class="card-text">LinkedIn:
            <a href="https://www.linkedin.com/in/kunal-baghele-93b2b4276"
              target="_blank">Kunal Baghele</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Container 3: Educational Qualifications -->
    <div class="col-md-6 mb-4 edu">
      <h2 class="mt-4">Educational Qualifications</h2>

      <mat-card *ngFor="let qualification of educationalQualifications"
        class="mb-3 text-bg-success">
        <mat-card-header>
          <mat-card-title class="text-center">{{ qualification.degree }} ({{
            qualification.completionDate }})</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let detail of qualification.details">
              {{ detail.name }} {{ detail.grade ? '(' + detail.grade + ')' : ''
              }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
<div class="container p-2 mb-4">
  <div class="row">
    <!-- Container 2: Technical Skills -->
    <div class="col-md-6 mb-4 skills">
      <h2 class>My Skills</h2>
      <button mat-raised-button color="primary" class="mb-3"
        (click)="showTechnology()">Programming Languages</button>

      <div *ngIf="technology" class="d-flex">
        <mat-card *ngFor="let language of technologies" class="mb-3"
          style="max-width: 140px;">
          <mat-card-content>
            <h5 class="card-title">{{ language }}</h5>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="downloadResume()">Download Resume</button><br><br>
</div>
